body {
    font-family: 'Inter', sans-serif;
    background-color: #030712;
    color: #9ca3af;
    scroll-behavior: smooth;
}

/* Navbar */
@import "../../components/navbar/navbar.css";

/* Hero */
@import "../../components/hero/hero.css";

/* About */
@import "../../components/about/about.css";

/* Services */
@import "../../components/services/services.css";

/* Contact */
@import "../../components/contact/contact.css";

/* Footer */
@import "../../components/footer/footer.css";