html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.builder {
    display: flex;
    flex-direction: column;

    grid-template-columns: 280px 1fr 350px;

    width: 100vw;
    height: 100vh;

    height: calc(100vh - 110px);
}

.builder-main {

    flex: 1;

    display: grid;

    grid-template-columns: 280px 1fr 350px;

    overflow: hidden;

}

.builder-sidebar {
    background: #111827;
    color: white;
    height: 100%;
    padding: 20px;
}

.builder-preview {
    background: #f3f4f6;
    height: 100%;
    padding: 20px;
}

.builder-settings {
    background: white;
    height: 100%;
    padding: 20px;
    border-left: 1px solid #e5e7eb;
}

/* TOPBAR SECTİONS */
.builder-topbar {
    height: 65px;

    background: #111827;

    color: white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 25px;
}

.topbar-left,
.topbar-center,
.topbar-right {

    display: flex;

    align-items: center;

    gap: 15px;
}

.builder-logo {

    font-size: 22px;

    font-weight: bold;

    color: #22d3ee;
}

.builder-title {

    font-size: 15px;

    color: #d1d5db;
}

.device-btn {

    background: transparent;

    border: 1px solid #374151;

    color: white;

    padding: 8px 14px;

    border-radius: 8px;

    cursor: pointer;
}

.device-btn.active {

    background: #22d3ee;

    color: #111827;
}

.preview-btn {

    background: #374151;

    color: white;

    border: none;

    padding: 10px 18px;

    border-radius: 8px;

    cursor: pointer;
}

.save-btn {

    background: #22d3ee;

    color: #111827;

    font-weight: bold;

    border: none;

    padding: 10px 18px;

    border-radius: 8px;

    cursor: pointer;
}

.builder-bottombar {

    height: 45px;

    background: #111827;

    color: white;

}