/* FOOTER */
.kurumsal-footer {
    background-color: #0f172a;
    color: #94a3b8;
    padding: 50px 0;
}

.kurumsal-footer a {
    transition: all 0.3s ease;
}

.kurumsal-footer .btn-outline-light:hover {
    background-color: #fff;
    color: #212529 !important;
    transform: translateY(-2px);
}

.link-primary-hover:hover {
    color: #0d6efd !important;
}

.link-success-hover:hover {
    color: #198754 !important;
}

@media (min-width: 768px) {
    .border-end-md {
        border-end: 1px solid #495057 !important;
    }
}